@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body{
  height: 100%;
  width: 100%;
}

body {
  animation: movey 10s  infinite ease-in-out, movex 50s infinite ease-in-out;
  background-image: url("../public/grid.svg");
  background-position-x: 50%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

@keyframes movey{
  0% {background-position-y: 0px;}
  25% {background-position-y: 32px;}
  50% {background-position-y: 64px;}
}

@keyframes movex{
  0% {background-position-x: 50%;}
  50% {background-position-x: 100%;}
}

.plex-mono{
  font-family: 'IBM Plex Mono', monospace;
}


